@use "src/assets/styles/Variables" as v;

.show {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;

  &__container {
    width: 100%;
    height: 100%;
    padding: 25vh 12.5%;

    @media (max-width: 425px) {
      padding: 25vh 5%;
    }
  }
}