/* VARIABLES */
// fonts
$primary-font: 'Satoshi-Variable';
$secondary-font: 'savateregular';

// colors
$light-color: #E6EADE;
$first-color: #A3BD9D;
$second-color: #EEB16C;
$alt-color: #68C7D9;
$alert-color: #D26C6C;
$dark-color: #3D3D33;
